.NEditor {
    font-family: monospace;
    height: 300px;
    width: 500px;
    margin: 0px;
    padding: 0px;
    background-color: rgb(47, 51, 81);
    color: aliceblue;
}
.NEditor .editarea {
    padding: 10px;
}
.NEditor .addtext {
    animation: cursor 1s linear infinite;
    caret-color: transparent;
    font-family: inherit;
    font-size: inherit;
    font: inherit;
    color: transparent;
    outline: none;
    border: none;
    background: white;
    resize: none;
    overflow: hidden;
    width: 2px;
    padding: 0px;
    height: 15px;
}
@keyframes cursor {
    0%,10%,65%,100% {
        opacity: 0;
    }
    20%,60% {
        opacity: 1;
    }
}