.NEditor {
    height: 200px;
    width: 300px;
    margin: 0px;
    padding: 0px;
    background-color: rgb(160, 213, 140);
}
.NEditor .editarea {
    padding: 10px;
}
.NEditor .cursor {
    animation: cursor 1s linear infinite;
    background-color: black;
    display: inline-block;
    width: 1px;
    height: 13px;
}
@keyframes cursor {
    0%,5%,65%,100% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
}
.NEditor .addtext {
    font-family: inherit;
    font-size: inherit;
    font: inherit;
    height: inherit;
    outline: none;
    border: none;
    width: 1px;
    padding: 0px;
    background: none;
}