.NEditor {
    font-family: monospace;
    height: 200px;
    width: 300px;
    margin: 0px;
    padding: 0px;
    background-color: rgb(47, 51, 81);
    color: aliceblue;
}
.NEditor .editarea {
    padding: 10px;
}
@keyframes cursor {
    0%,5%,65%,100% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
}
.NEditor .addtext {
    caret-color: transparent;
    font-family: inherit;
    font-size: inherit;
    font: inherit;
    outline: none;
    border: none;
    background: red;
    resize: none;
    overflow: hidden;
    width: 10px;
    padding: 0px;
    height: 15px;
}